/*=============== GOOGLE FONTS ===============*/

@font-face {
  font-family: "minion";
  src: url(/public/font/MinionPro-Regular.woff);
}

:root {
  --body-font: "minion", sans-serif;
  --text-p: 16px;
  --text-h1: 24px;
  --text-logo: 2rem;
  --color-text: #000;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.hidden {
  overflow: hidden;
}

.loarder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
}

.loader {
  width: 82px;
  height: 18px;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  top: 0;
  background: #24503a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: jump 0.5s ease-in infinite alternate;
}

.loader::after {
  background: #0000;
  color: #fff;
  top: 100%;
  box-shadow: 32px -20px, -32px -20px;
  animation: split 0.5s ease-out infinite alternate;
}

@keyframes split {
  0% {
    box-shadow: 8px -20px, -8px -20px;
  }
  100% {
    box-shadow: 32px -20px, -32px -20px;
  }
}
@keyframes jump {
  0% {
    transform: translate(-50%, -150%);
  }
  100% {
    transform: translate(-50%, 10%);
  }
}

/*=============== HEADER & NAV ===============*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  pointer-events: none;
  font-size: 15px;
}

nav {
  font-family: var(--body-font);
}

nav .nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 49.6%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  width: 100%;
  pointer-events: auto;
}

nav .nav__link a li {
  cursor: pointer;
  color: var(--color-text);
  font-size: var(--text-h1);
}

nav .nav__link a:first-child {
  transform: rotate(-90deg);
}

nav .nav__link a:nth-child(2) {
  transform: rotate(90deg);
}

.nav__logo {
  color: var(--color-text);
  font-weight: 700;
  transition: color 0.4s;
  padding: 1rem;
  font-size: var(--text-logo);
  display: grid;
  place-content: center;
  pointer-events: auto;
}
.container__house__related {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  row-gap: 110px;
}

@media (min-width: 768px) {
  .grid-container {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
  }
}

.image-item {
  position: relative;
  margin: 0 auto;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.image-item img {
  object-fit: cover;
  height: auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .image-item img {
    max-height: 600px;
    min-height: 300px;
  }
}

.related-img {
  object-fit: contain;
}

.related-container:hover .related-img {
  transform: scale(1.1);
}

.related-container {
  flex-basis: calc(50% - 10px);
}

.nameProyect {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.project-name {
  margin-top: 10%;
  text-align: center;
}

.project-description {
  font-size: var(--text-p);
  text-align: justify;
}

@media (min-width: 768px) {
  .project-name {
    text-align: left;
  }

  .project-description {
    font-size: var(--text-p);
    text-align: justify;
    width: 40%;
  }
}

.project-team {
  margin-top: 3%;
  margin-bottom: 3%;
}

.related-text {
  margin-top: 10px;
  position: relative;
}

@keyframes scale-up-vertical-center {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin: 0 auto;
  max-width: 80%;
  margin-top: 5%;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.box__gallery {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 150%; /* Esto asegura una proporción 2:3 (vertical) */
  background-color: #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box__gallery img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto; /* Mantiene la proporción vertical */
  object-fit: cover;
}
/* .box__gallery img:hover{
  transform: scale(0.7);
} */

@media (max-width: 991px) {
  header {
    height: 80px;
    background-color: #fff;
  }

  nav .nav__link a li {
    padding-right: 0rem;
    margin-right: 0rem;
    padding: 10px;
  }

  nav .nav__link a:first-child {
    transform: rotate(0deg);
  }

  nav .nav__link a:nth-child(2) {
    transform: rotate(0deg);
  }

  .container__house__related {
    margin-top: 90px;
  }

  .grid-container {
    justify-content: flex-start; /* Cambia la justificación a inicio */
  }

  .related-container {
    flex-basis: 100%; /* Establece el ancho base de cada contenedor al 100% para que ocupen toda la anchura */
  }
}
